body {
margin: 0;
padding-top: 80px;
font-family: 'Poppins', sans-serif;
background: #020617;
color: white;
overflow-x: hidden;
}

/* NAVBAR */
.navbar {
position: fixed;
top: 0;
width: 100%;
background: rgba(2,6,23,0.8);
backdrop-filter: blur(10px);
z-index: 1000;
}

.nav-container {
max-width: 1200px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px;
}

.logo {
font-size: 22px;
font-weight: 800;
color: #38bdf8;
}

nav a {
margin-left: 25px;
text-decoration: none;
color: #cbd5f5;
transition: 0.3s;
}

nav a:hover, .active {
color: #38bdf8;
}

/* HERO */
.hero {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
padding: 20px;
}

.main-title {
font-size: 48px;
}

.main-title span {
color: #38bdf8;
text-shadow: 0 0 20px #38bdf8;
}

.typing {
margin-top: 10px;
font-size: 22px;
color: #94a3b8;
}

.tagline {
margin-top: 10px;
color: #94a3b8;
}

/* BUTTONS */
.btn {
padding: 10px 20px;
background: #38bdf8;
color: black;
border-radius: 5px;
margin: 10px;
text-decoration: none;
}

.btn.outline {
background: transparent;
border: 1px solid #38bdf8;
color: #38bdf8;
}

/* SECTION */
.section {
padding: 80px 20px;
text-align: center;
}

.section-title {
font-size: 32px;
margin-bottom: 40px;
}

/* GRID */
.grid {
display: flex;
gap: 30px;
justify-content: center;
flex-wrap: wrap;
}

/* CARD */
.card {
width: 250px;
padding: 20px;
background: #111;
border-radius: 12px;
transition: 0.4s;
}

.card:hover {
transform: translateY(-10px);
box-shadow: 0 0 25px #38bdf8;
}

/* FOOTER */
.footer {
text-align: center;
padding: 30px;
background: #000;
}

/* PARTICLES */
canvas {
position: fixed;
z-index: -1;
}